In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/driver_info.csv')
print(data.shape)
data.head()

(15153, 7)

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
0,27,9.0,865,19.0,l17437965W,1,2019-4-2
1,46,7.9,2116,11.0,Z12362316j,0,2021-11-19
2,59,7.8,947,4.0,g11098715c,0,2021-1-15
3,37,7.0,18,4.0,U12618125q,0,2019-11-20
4,39,8.2,428,7.0,A14375829B,0,2019-7-23

Задача:

Соединить эти две таблицы вместе.
Оставить только строки, где rating > 4 и stop_times равен 2, 3 или 5.
В получившемся датафрейме оставить только те строки, где car_id не входит в список car_black_list и user_id входит в список user_white_list.
Оставить только строки, где index чётное число (датафрейм проиндексирован целыми числами).
Итоговый объект pd.DataFrame() поместить в переменную result.

In [9]:
import pandas as pd

df1 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.6_df1.csv', index_col=0)
df2 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.6_df2.csv', index_col=0)

# Учтите, что user_white_list и car_black_list в тестовой системе будут иметь другую длину и другие значения
user_white_list = ['g10995906g', 'H90312511Q', 'C27138482L', 'H22518078t', 'n17438464n', 'F10525768e', 's15596151o', 'i18954748S', 'E84048392U', 'E69893354s']
car_black_list = ['l-4285389z', 'n79502261g', 'N-1839822D']

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_6_ans.csv', index_col=0)

In [10]:
result=pd.concat([df1, df2], axis=0)
result = result[(result['rating']>4)&(result['stop_times'].isin([2,3,5]))]
result = result[(~result['car_id'].isin(car_black_list)) &(result['user_id'].isin(user_white_list))]
result = result[result.index%2==0]
result.head()

        user_id      car_id  rating  stop_times
20   C27138482L  M-1786506l    7.42           2
190  F10525768e  I98930031r    4.21           2
248  s15596151o  u-2070489i    5.39           2

Задача:

Создайте столбец tripple_accident из столбца user_time_accident,  умноженного на 3.
Создайте столбец rides_on_rating делением столбца user_rides на user_rating.
Оставьте только те строки, у которых user_time_accident больше 25 (используем фильтрацию).
Оставьте только те строки, у которых age выше среднего значения по полученной таблице в предыдущем пункте.

In [14]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8.csv')

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8_ans.csv', index_col=0)

In [16]:
df['tripple_accident'] = df['user_time_accident']*3
df['rides_on_rating'] = df['user_rides'] / df['user_rating']
df = df.loc[(df['user_time_accident']>25), :]
df = df[df['age'].gt(df.age.mean())]
df

,user_id,user_rating,age,user_rides,user_time_accident,tripple_accident,rides_on_rating
3,E10711310m,8.4,33,322,39.0,117.0,38.333333

Добавьте новую строку (с индексом new_index:(int / str) и значениями new_data:list).
Удалите строки с индексами из списка del_index_list: list.
Увеличьте значение destroy_degree на 1 в строке с индексом равным index. Переменная index содержит индекс строки ИЛИ число (индекс).
Удалите столбец fix_date, т.к. не стоит сейчас думать о времени.
Создайте новый столбец efficient, который равен destroy_degree деленный на work_duration.
Возведите столбец work_duration в квадрат.
Переименуйте столбец work_duration в work_duration_square.
Удалите дубликаты по столбцу car_id.

In [81]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_10.csv')

# Учтите, что new_index, new_data, del_index_list, index в тестовой системе будут иметь другие значения
new_index = 50
new_data = ['new_car_id', 'new_worker_id', '2019-11-11 4:44','refuel_check', 3.5, 10]
del_index_list = [41, 18, 33, 7, 46]
index = 22



# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_10_ans.csv')
ans.head()

,Unnamed: 0,car_id,worker_id,work_type,destroy_degree,work_duration_square,efficient
0,0,C-8860661H,BM,reparking,1.0,784,0.035714
1,1,Z76775340d,IL,repair,8.4,2304,0.175000
2,2,r12485993Y,HN,reparking,1.0,441,0.047619
3,3,Z-1382353b,VX,repair,5.7,169,0.438462
4,4,p14707024B,JP,refuel_check,1.0,441,0.047619

In [82]:
df = pd.concat([df, pd.DataFrame([new_data],index=[new_index],columns=df.columns)])
df = df[~df.index.isin(del_index_list)]
df['destroy_degree'] = df.apply(lambda x: x.destroy_degree+1 if x.name == index else x.destroy_degree, axis = 1)
df.drop(['fix_date'], axis =1, inplace=True)
df['efficient'] = df['destroy_degree']/df['work_duration']
df['work_duration'] = df['work_duration']**2
df = df.rename(columns={'work_duration':'work_duration_square'})
df = df.drop_duplicates(['car_id'])

Отсортируйте строки сначала по убыванию 1-го столбца из списка sort_by_list, затем по возрастанию 2-го столбца из списка.
Удалите столбцы из списка cols2drop с учетом того, что некоторых столбцов может не быть в df.
Сделайте порядок столбцов в df в соответствии с переменной columns_order_list: List[str].
Удалите строки, в которых car_rating < critical_car_rating.
Удалите строки, где число поездок riders больше 10_000, или тип машины car_type относится либо к standart, либо к economy.

In [101]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.11.csv')

# Учтите, что sort_by_list, cols2drop, columns_order_list в тестовой системе будут иметь другие значения.
sort_by_list = ['car_rating', 'riders']
cols2drop = ['random_name_1', 'target_reg', 'target_class', 'random_name_2']
columns_order_list = ['model', 'car_type', 'car_id', 'car_rating', 'year_to_start', 'year_to_work', 'riders', 'fuel_type']
critical_car_rating = 2

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_11_ans.csv', index_col=0)
ans

,model,car_type,car_id,car_rating,year_to_start,year_to_work,riders,fuel_type
4,Mini Cooper,business,i-4390733F,4.96,2012,2018,1007,petrol
295,Mini Cooper,business,b34607341j,4.04,2011,2018,2740,petrol

In [ ]:
df = df.sort_values(by=sort_by_list, ascending=[False, True])
df.drop(cols2drop, axis = 1, inplace=True,  errors ='ignore')
df = df.loc[:, columns_order_list]
df = df.loc[~(df['car_rating'] < critical_car_rating)]
df.drop(df[(df['riders'].gt(10_000)) | (df['car_type'].isin(['standart', 'economy']))].index, axis = 0, inplace=True)

Запишите в переменную mean_rating среднее по столбцу car_rating .
Увеличьте на один все значения в столбцах car_rating и year_to_work.
Отфильтруйте любым из удобных способов машины с рейтингом выше среднего от столбца car_rating (используйте переменную mean_rating).
Преобразуйте столбец year_to_work следующим образом: если значение меньше 2017, то прибавьте 2, иначе разделите значение нацело на 5.
Переименуйте столбец year_to_start в new_year_to_start и удалите столбец fuel_type.
Ко всем значениям из столбца car_type добавьте приставку super_ (standart -> super_standart).
Решение запишите в переменную result.

In [118]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_12.csv')


# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_12_ans.csv')
ans.shape

(90, 10)

In [ ]:
df['mean_rating'] = df['car_rating'].mean()
df.loc[:, ['car_rating', 'year_to_work']] = df.loc[:, ['car_rating', 'year_to_work']] + 1
df = df.loc[df['car_rating'] > df['mean_rating'], :]
df['year_to_work'] = df['year_to_work'].apply(lambda x: x+2 if x<2017 else x//5)
df = df.rename(columns={'year_to_start': 'new_year_to_start'})
df.drop(['fuel_type'], axis = 1, inplace=True)
df['car_type'] = df['car_type'].apply(lambda x: 'super_' + x)

Добавьте столбец flag, который равен 'good_line', если rating > 5 and speed_max < 100. 'bad_line', если  rating > 5 and speed_max > 100. 'undefined' в остальных случаях.
Добавьте столбец speed_check, который принимает значения 'avg_more', если distance/ride_duration > speed_avg, иначе 'avg_less'.
Удалите столбцы из списка cols2drop.
Удалите строки, в которых car_id имеет пустые значения (только NA удаляем).
Результат запишите в переменную result.

In [119]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_13.csv')

# Учтите, что cols2drop в тестовой системе будет иметь другие значения.
cols2drop = ['ride_cost', 'stop_times', 'user_ride_quality']

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_13_ans.csv', index_col=0)

In [ ]:
df['flag'] = df.apply(lambda x: 'good_line' if x.rating> 5 and x.speed_max<100 else 'bad_line' if x.rating > 5 and x.speed_max>100 else 'undefined', axis =1)
df['speed_check']= df.apply(lambda x: 'avg_more' if x.distance / x.ride_duration > x.speed_avg else 'avg_less', axis = 1)
df.drop(cols2drop, axis = 1, inplace=True,  errors ='ignore')
df.drop(df.loc[df.apply(lambda x: pd.isna(x.car_id), axis=1), :].index, axis=0, inplace=True)
result=df

Посчитайте количество пропусков в каждой строке и запишите это в новый столбец nans_num.
Удалите строки, где количество пропусков больше 2.
Удалите строки, где age имеет пропущенные значения.
Заполните пропущенные значения в столбце user_time_accident медианным значением.
Оставьте только столбцы age, user_rides, user_time_accident.
Решение запишите в переменную result.

In [140]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_14.csv')

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_14_ans.csv', index_col=0)